
@{
    ViewData["Title"] = "Map";
}

@model NeighborhoodAnalitics.Models.AbstractRatingCategory

<!DOCTYPE html>
<html>
<head>
    <title>Place Autocomplete</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="~/js/Chart.js"></script>
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" 
          crossorigin="anonymous">
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="pac-card" id="pac-card">
        <div>
            <div id="title">
                Search place


            </div>
            <div id="type-selector" class="pac-controls">
                <input type="radio" name="type" id="live" checked="checked">
                <label for="changetype-all">Live</label>

                <input type="radio" name="userInput" id="travel">
                <label for="changetype-establishment">Travel</label>
            </div>

        </div>
        <div id="pac-container">
            <form method="post">
                <input id="pac-input"
                       type="text"
                       placeholder="Enter a location">
                <button id="btnPost" disabled>POSTOWANIE AJAXA</button>
            </form>
        </div>

    </div>
    <div id="map"></div>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span><br>
        <span id="place-address"></span>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Example search</h4>
                    <div class="container">
                        <div class="row list">
                            <ul>
                                <li>@Html.ActionLink("Gdańsk, Sienkiewicza / życie", "Map", new { placeName = "Gdańsk, Sienkiewicza", ratingCategory = "live" })</li>
                                <li>@Html.ActionLink("Gdańsk, Sienkiewicza / podróż", "Map", new { placeName = "Gdańsk, Sienkiewicza", ratingCategory = "travel" })</li>
                                <li>@Html.ActionLink("Gdańsk, Długa / życie", "Map", new { placeName = "Gdańsk, Długa", ratingCategory = "live" })</li>
                                <li>@Html.ActionLink("Gdańsk, Długa / podróż", "Map", new { placeName = "Gdańsk, Długa", ratingCategory = "travel" })</li>
                                <li>@Html.ActionLink("Gdynia, Orłowska / życie", "Map", new { placeName = "Gdynia, Orłowska", ratingCategory = "live" })</li>
                                <li>@Html.ActionLink("Gdynia, Orłowska / podróż", "Map", new { placeName = "Gdynia, Orłowska", ratingCategory = "travel" })</li>
                                <li>@Html.ActionLink("Gdańsk, Jagiellońska / życie", "Map", new { placeName = "Gdańsk, Jagiellońska", ratingCategory = "live" })</li>
                                <li>@Html.ActionLink("Gdańsk, Jagiellońska / podróż", "Map", new { placeName = "Gdańsk, Jagiellońska", ratingCategory = "travel" })</li>
                                <li>@Html.ActionLink("Warszawa, Marszałkowska / życie", "Map", new { placeName = "Warszawa, Marszałkowska", ratingCategory = "live" })</li>
                                <li>@Html.ActionLink("Warszawa, Marszałkowska / podróż", "Map", new { placeName = "Warszawa, Marszałkowska", ratingCategory = "travel" }) </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 ml-auto col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Statistics</h4>
                        <div id="chart_container">
                            <canvas id="myChart" width="100" height="100"></canvas>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div id="info-container">
        <div id="type1">
            <span class="typename">@Model.ListOfPlaceTypes[0].Name</span>
            <span class="typequantity">@Model.ListOfPlaceTypes[0].Quantity</span>
        </div>
        <div id="type2">
            <span class="typename">@Model.ListOfPlaceTypes[1].Name</span>
            <span class="typequantity">@Model.ListOfPlaceTypes[1].Quantity</span>
        </div>
        <div id="type3">
            <span class="typename">@Model.ListOfPlaceTypes[2].Name</span>
            <span class="typequantity">@Model.ListOfPlaceTypes[2].Quantity</span>
        </div>
        <div id="type4">
            <span class="typename">@Model.ListOfPlaceTypes[3].Name</span>
            <span class="typequantity">@Model.ListOfPlaceTypes[3].Quantity</span>
        </div>
        <div id="type5">
            <span class="typename">@Model.ListOfPlaceTypes[4].Name</span>
            <span class="typequantity">@Model.ListOfPlaceTypes[4].Quantity</span>
        </div>
        <div id="type6">
            <span class="typename">@Model.ListOfPlaceTypes[5].Name</span>
            <span class="typequantity">@Model.ListOfPlaceTypes[5].Quantity</span>
        </div>
    </div>

    <script src="~/js/site.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIxaqwOzo2dsq8cUsKlkgQcjRH4w1LRRY&libraries=places&callback=initMap"
            async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>

    @*<a href="/Home/Map/Wrocław"> GDANSK</a>*@
    @*<a href="/somecontroller/someaction/123?a=b&c=d">link text</a>*@
</body>
</html>

